.dark {
    background-color: black;
    color: white;
    height: 100vh;
}

.app-container {
    background-color: white;
    color: black;
    height: 100%;
    position: relative;
}
.ul-container{
    height: 80%;
}